version: "3.9"

services:
  db:
    image: postgres:15
    platform: linux/amd64
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    env_file:
     - .env
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_DB=django_develop
      - POSTGRES_PASSWORD=postgres
    healthcheck:
      test: "psql -U postgres"
      interval: 5s
      timeout: 5s
      retries: 5

  web:
    build: .
    command: gunicorn config.wsgi:application --bind 0.0.0.0:3000
    volumes:
      - .:/code
    ports:
      - "3000:3000"
    env_file:
     - .env
    depends_on:
      db:
        condition: service_healthy

volumes:
  db-data:
