{% extends "base.html" %}
{% block title %}Hello World!{% endblock %}
{% block content %}
  <div class="alert alert-primary">Hello World!</div>
  <body>
    <app-root></app-root>
  <script src="runtime.78fe65772c8aff3e.js" type="module" crossorigin="anonymous"></script><script src="polyfills.f3824fe6dc0460ae.js" type="module" crossorigin="anonymous"></script><script src="scripts.cd816875f3dc91fb.js" defer crossorigin="anonymous"></script><script src="main.6700dedd9b90aef0.js" type="module" crossorigin="anonymous"></script>
  
  </body>
{% endblock %}
