{% extends 'manage_base.html' %}
{% block content %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 14px;
        margin-top: 20px;
    }

    th, td {
        border: 1px, solid #ccc;
        padding: 8px;
        text-align: center;
    }
    th {
        background-color: #f2f2f2;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    p {
        font-size: 16px;
    }
    .total {
        margin-top: 20px;
        font-weight: bold;
        font-size: 16px;
    }

</style>
<h2>注文詳細</h2>
<p>氏名:{{ order.first_name }} {{ order.last_name}}</p>
<p>メール: {{ order.email}}</p>

<table style="border: 1px solid black;">
    <tr>
        <th>商品名</th>
        <th>数量</th>
        <th>単価</th>
        <th>小計</th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{ item.product.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.product.price }}</td>
        <td>{{ item.product.price|floatformat:0|add:"" }}</td>
    </tr>
    {% endfor%}
</table>
<p><strong>合計金額: {{ total }}円</strong></p>
{% endblock%}