{% extends "base.html" %} 

{% block title %}商品一覧{% endblock %} 

{% block content %}
<div class="container mt-5">
  <h1 class="mb-4">商品一覧</h1>
  <div class="row">
    {% for product in products %}
    <div class="col-md-4 md-4">
      <div class="card h-100">
        <img src="{{ product.image_url.url }}" class="card-img-top" alt="{{ product.name }}"/>
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{ product.price }}円</p>
          <a href="{%url 'detailfunc' product.id %}" class="btn btn-outline-dark">add to cart</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
